@use '$styles/variables.scss';
@use '$styles/reset.scss';

.button {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    border: 0;
    border-radius: 2rem;
    line-height: 1;
    font-weight: 700;
    font-family: sans-serif;
    transition: background-color 0.3s ease-in-out;
    background: none;
    color: variables.$dark;

    svg {
        fill: variables.$dark;
    }

    &__primary {
        background-color: variables.$primary;

        &:hover {
            background-color: variables.$primary-hover;
        }
    }

    &__secondary {
        border: 2px solid variables.$primary;

        &:hover {
            background-color: rgba(44, 218, 157, 0.2);
        }
    }

    &__tertiary {
        color: variables.$primary;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: variables.$primary-hover;
        }
    }

    &__small {
        padding: 10px 16px;
        font-size: 12px;
    }

    &__medium {
        padding: 11px 10px;
        font-size: 14px;
    }

    &__large {
        padding: 12px 24px;
        font-size: 16px;
    }

    &:active {
        transform: scale(0.99);
    }
}