// Typography
$white: #FFFFFF;

// Light & Dark Modes
$dark: #1D232A;
$dark-shadow: rgba(29, 35, 42, 0.16);
$light: #fffafb;

// Branding
$primary: rgb(44, 218, 157);
$primary-hover: #0ea871;
$secondary: #4da4e5;
$accent-1: #333d50;
$accent-2: #516f9a;
$accent-3: #9ba9b9;
$slate: #313a41;

// Accents and UI
$info: #4895e9;
$success: #00b75d;
$warning: #EEC643;
$error: #E54B4B;