@import '_resets.scss';
@import '_variables.scss';

:root {
	--background: #{$white};
	--text: #{$dark};
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #{$dark};
		--text: #{$white};
	}
}

:root:has(#theme [value='☀️']:checked) {
	color-scheme: light;
	--background: #{$white};
	--text: #{$dark};
}

:root:has(#theme [value='🌑']:checked) {
	color-scheme: dark;
	--background: #{$dark};
	--text: #{$white};
}

html {
	color-scheme: light dark;
	font-family: sans-serif;
}

body {
	background-color: var(--background);
	color: var(--text);
}
