@use "$styles/variables.scss";

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;

    &__wrapper {
        background: variables.$accent-1;
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 1px 1px variables.$dark-shadow,
        0 2px 2px variables.$dark-shadow,
        0 4px 4px variables.$dark-shadow,
        0 8px 8px variables.$dark-shadow,
        0 16px 16px variables.$dark-shadow;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__logo {
        background: variables.$primary;
        margin-right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;

        svg {
            fill: variables.$dark;
            max-width: 24px;
        }
    }

    &__navigation {
        //padding: 16px;

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 1.5rem;
        }

        a {
            position: relative;
            font-weight: bold;
            text-decoration: none;
            color: var(--text);
            transition: color 0.3s ease-in-out;

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                margin-inline: auto;
                bottom: -2.5px;
                width: 0;
                height: 2px;
                background: variables.$primary;
                transition: width 0.15s ease-in;
            }

            &::before {
                content: '';
                position: absolute;
                right: 50%;
                margin-inline: auto;
                bottom: -2.5px;
                width: 0;
                height: 2px;
                background: variables.$primary;
                transition: width 0.15s ease-in;
            }

            &:hover::after {
                width: 50%;
            }

            &:hover::before {
                width: 50%;
            }

            &:hover {
                color: variables.$primary;
            }
        }
    }

    &__right {
        list-style: none;
        padding: 0;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        gap: 1.25rem;

        a {
            text-decoration: none;
            color: var(--text);
            transition: fill 0.3s ease-in-out;
            fill: var(--text);
        }

        a:hover {
            fill: variables.$primary;
        }

        a svg {
            width: 2rem;
        }
    }
}